header {
   margin-bottom: 30px;

   p {
      font-size: 1.25rem;
   }
}

.examples {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   & div {
      color: navy;
      text-align: center;
   }
}
